@use "../../../utils/variables" as *;

.header {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;

  padding: 0 24px 0 24px;
  width: 100%;
  height: $headerHeight;
  border: 1px solid $mainBorderColor;
  background-color: $secondaryBackgroundColor;

  &__logo {
    display: flex;
    align-items: center;
    height: 100%;
    width: 244px;
    border-right: 1px solid $mainBorderColor;
    background-color: inherit;

    &__img {
      height: 28px;
      width: 68px;
    }
  }

  &__buttonBox {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    height: 100%;
    width: 348px;
    gap: 4px;

    &__search {
      display: flex;
      align-items: center;
      gap: 12px;

      border: 1px solid $mainBorderColor;
      border-radius: $borderRadius;

      background-color: $mainBackgroundColor;

      height: 32px;
      width: 108px;
      padding: 0 12px;
      margin-right: 24px;
      box-sizing: border-box;

      &__icon {
        height: 14px;
        width: 14px;
      }

      &__searchField {
        border: none;
        outline: none;
        font-size: 12px;
        font-weight: 500;
        line-height: 140%;
        background: transparent;

        &:focus,
        &:focus-visible {
          outline: none;
          box-shadow: none;
        }

        &::placeholder {
          color: $subtitleColor;
        }
      }
    }

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;

      height: 32px;
      width: 64px;
      background-color: $mainBorderColor;
      border-radius: $borderRadius;

      text-decoration: none;
      color: inherit;
      font-size: 13px;
      font-weight: 400;

      &__img {
        background-color: transparent;
        height: 16px;
        width: 16px;
      }
    }
  }
}
