@font-face {
  font-family: "Graphik Trial";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Graphik-Regular-Trial.woff") format("woff");
}

@font-face {
  font-family: "Graphik Trial";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/Graphik-Medium-Trial.woff") format("woff");
}
