$mainBackgroundColor: #ffffff;
$secondaryBackgroundColor: #fafafa;
$activeBackgroundColor: #eaf5ff;
$mainBorderColor: #e6e6e6;
$chartsBorderColor: #808080;
$titleColor: #0b0b0b;
$subtitleColor: #535353;
$rateDownTextColor: #ff0012;
$rateUpTextColor: #008e12;
$periodSelectorHover: #f5f5f5;

$borderRadius: 4px;

$headerHeight: 56px;

$mainTextColor: #0b0b0b;
$activeTextColor: #007dff;
$disabledTextColor: #a3a3a3;
$detailButtonColor: #77c2ff;

$sidebarWidth: 269px;

$landingTitleTextColor: #fafafa;
$landingButtonTextColorSecondary: #00330a;
$landingTextGradient: #717171;
$landingButtonBackgroundColor: #1a1a1a;
$landingPointColor: #006f1a;
$cardsBackgroundColor: #faf9f5;
